@using Bibliotheque.Models
@using Bibliotheque.ViewModels
@model BibliothequeViewModel

@{
    var obj = Session["User"] as User;

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>

    <table>
        <tr>
            <th>Name</th>
            <th>Mail</th>
        </tr>
        <tr>
            <td>@obj.Name</td>
            <td>@obj.Email</td>
        </tr>
    </table>

</head>

@{
    List<SelectListItem> CategoriesList = new List<SelectListItem>();

    foreach (Category c in Model.CatsVM.Categories)
    {
        CategoriesList.Add(new SelectListItem { Text = c.Title, Value = c.IdCategory.ToString()});
    }

}


@Html.DropDownListFor(m => m.CatsVM.Categories,
    CategoriesList.OrderBy(k => k.Text),
    "Select a category", htmlAttributes: new { @id = "dropdown" })

<body>

    <div id="element_list_container">
        List of elements :

    </div>

    <div>
        <button onclick="location.href = '@Url.Action("Create", "Categories")';return false;">Add a Category</button>
    </div>

    <div>
        <button onclick="location.href = '@Url.Action("Disconnect", "Home")';return false;">Log out</button>
    </div>

</body>
</html>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script> //Script en ajax pour modifier dynamiquement l'affichage

    $('#dropdown').change(function (e) {

        var row_num = $("#dropdown option:selected").val();

        $.ajax({
            type: "GET",
            url: "../Elements/List",
            data: { id: row_num },
            success: function(data) {
                $("#element_list_container").html(data);
            },

            error: function () { alert("Something went wrong in controller."); }

        });

    });

</script>
